<div class="lr-component">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a>
            </li>
            <li><a href="#profile" data-toggle="tab">Profile</a>
            </li>
            <li><a href="#messages" data-toggle="tab">Messages</a>
            </li>
            <li><a href="#settings" data-toggle="tab">Settings</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding:10px;">
            <div class="tab-pane active lr-box" id="home">This is the Home tab</div>
            <div class="tab-pane lr-box" id="profile">This is the Profile tab</div>
            <div class="tab-pane lr-box" id="messages">This is the Messages tab</div>
            <div class="tab-pane lr-box" id="settings">This is the Settings tab</div>
        </div>
    </div>
</div>