.gridster .lr-box {
	background-color: white;
	border: 1px lightgray solid;
	padding: 10px;
	list-style: none;
}

.lr-manipulate {
	float: right;
	cursor: pointer;
	z-index: 999;
}

.lr-edit-btn {
	text-align: right;
	cursor: pointer;
	z-index: 999;
}

.glyphicon {
	margin-left: 5px;
}

#lr-modal-code .modal-dialog {
	width: 80%;
	height: 400px;
}

.lr-code-box {
	background-color: gray;
	font-family: 'Courier New';
	color: darkgray;
	border: 1px solid darkgray;
}